.notes-block {
  max-width: 84rem;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
}

.loading-notes {
  text-align: center;
  font-family: monospace;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 4rem;
}

/* .display-notes {
  text-align: center;
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .display-notes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    gap: 50px;
    text-align: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .display-notes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    gap: 50px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .display-notes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr 4fr;
    gap: 50px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .display-notes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4fr 4fr 4fr;
    gap: 50px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .display-notes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 4fr 4fr 4fr 4fr;
    gap: 25px;
  }
}
